@media (min-width: 992px) {
    .hero {

        height: 50vh;
    }

    .hero-content {
        position: absolute;
        top: 90%;
        left: 2%;
        filter: none;
    }

    .h2 {
        font-size: 30px;
        margin-top: 2em;
    }

    .section-text {
        line-height: 28px;
        padding-top: 4.4rem !important;
        font-size: larger;
    }

    .about-banner {
        max-width: 400px;
        margin-inline: auto;
        margin-bottom: 80px;
    }
}


@media (max-width: 375px) {
    .section-text {

        line-height: 21px !important;

    }
}

.hero {
    min-height: 50vh;
}

@media (max-width: 425px) {

    .hero {

        min-height: 30vh;
        padding-inline: 96px;
    }

    .hero-content {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .hero-banner {
        max-width: 500px;
        width: 125%;
        margin-bottom: 14px;
        margin-top: -20%;
    }

    .h2 {
        margin-bottom: -31px;
        font-size: 21px;
    }

    .cont {
        display: flex;
        flex-direction: column-reverse;
    }

    .first_div,
    .second_div {
        height: auto;
    }

    .about-banner {
        max-width: 15rem;
        margin-inline: auto;
        margin-bottom: 61px;
        margin-top: -26px;
    }
}


.h2 {
    background: rgb(253 217 71 / 70%);
    width: max-content;
    padding: 10px 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;

    text-transform: uppercase;
    color: #000;
}

.section-text {

    text-align: center !important;
    box-sizing: border-box;
    line-height: 28px;
    padding-top: 20px;

}

